.card {
    width: 20rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; /* Add position relative to create a positioning context */
  }
  
  .c-imageFrame {
    position: relative;
    z-index: 1;
    height: 20rem;
    background-color: #36A7B7;
    border-radius: 10px;
    padding: 10px; 
    box-sizing: border-box; 
  }
  
  .c-titleFrame {
    position: relative; 
    top: -20px; 
    height: 50px;
    background-color: #ccc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
  }

  c-title {
    color: #565656;
    padding-top: 4%;
  }