.e-sec {
  align-items: center;
  justify-content: center;
  font-family: 'Alata', sans-serif;
  line-height: 90%;
  text-align: left;
  min-height: 100vh;
  width: 100%;
  color: white;
  display: flex;
}

ul {
  line-height: 1.5;
  color: white;
}
h2 {
  color: var(--bluePrimary);
}

e-name {
  margin-top: 2rem;
  font-size: 4vw;
  font-weight: 700;
  padding-left: 1.3rem;
  text-align: center;
  justify-content: center;
  left: 10%; 
  bottom: 30%; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.e-title {
  margin-right: 2rem;
  position: relative;
  display: flex;
  padding: 20px;
  background-color: #70b6dc;
  width: 4rem;
  height: 110vh; 
  border-radius: 10px;
  overflow: hidden; 
}

.e-timeline {
  margin-top: 40px;
}


.e-card {
  display: flex;
  flex-direction: row;
}

.e-year {
  width: 4rem;
  height: 1rem;
  flex: 0 0 60px;
  font-size: 3px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #70b6dc;
  padding: 10px;
}
.e-description {
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  flex-grow: 1;
}

.e-description p {
  margin-bottom: 0;
}

.e-wave,
.e-wave::before,
.e-wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  border-radius: 38% 42%;
  background-color: transparent;
  filter: blur(12px);
  box-shadow: inset 0 0 10vw rgba(0, 213, 255, 0.435);
  animation: spin 16s infinite linear;
  z-index: 0;
}

.e-wave {
  width: 200%;
  height: 200%;
  margin-left: -50%; 
  margin-top: -50%;
}

.e-wave::before {
  width: 100%;
  height: 100%;
  margin-left: -50%;
  margin-top: -50%;
  box-shadow: inset 0 0 10vw rgba(12, 190, 255, 0.753);
  animation: spin 13s infinite linear;
}

.e-wave::after {
  width: 100%; 
  height: 100%;
  margin-left: -50%;
  margin-top: -50%;
  box-shadow: inset 0 0 10vw rgba(110, 255, 255, 0.542);
  animation: spin 10s infinite linear;
}

.e-experience {
  color: white;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.e-experience:hover {
  transform: translateX(20px);
}
  

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.e-timeline {
  margin-top: 40px;
}



.e-year {
  flex: 0 0 60px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #70b6dc;
  padding: 10px;
}

.e-description {
  background-color: var(--black);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.e-description h2 {
  margin-top: 0;
}

.e-description p {
  margin-bottom: 0;
}