:root {
  --black: #1E1E1E;
  --sectionLine: #2f2f2f;
  --gray: #2f2f2f;
  --bluePrimary: #70B6DC;
  --blueSecondary: #69a8cb;
  --black : #0e0e0e;
  --white : #fff;
  --gray : #788097;
  --blueCard : #DDF8FE;
  --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --topZIndex: 100;
  background-color: var(--black);
}
body {
  scroll-snap-type: y mandatory;
}
html {
  font-size: 16px; 
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}


.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
  background-color: black;
}