:root {
  --black: rgb(14, 14, 14);
}

section {
  /*scroll-snap-align: start; */
  min-height: 100vh;
  color: rgb(16, 16, 16);
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}